@import "../../styles/colors.modules.scss";

.imgLogoNav {
  width: 160px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
}

.searchImage {
  margin: 0px 10px;
  cursor: pointer;
  width: 26px;
}

.userProfile {
  font-weight: bold;
  font-size: 14px;
  color: black;
  background-color: white;
  text-transform: uppercase;
  min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0px 14px;
}

.input {
  background-color: transparent;
  color: white;
  border-color: $lightGray;

  &:focus {
    background-color: transparent;
    color: white;
    border-color: $mediumGray;
    box-shadow: none;
  }

  &::placeholder {
    color: white;
  }
}

.modal {
  position: absolute;
  width: 150px;
  height: 80px;
  top: 85px;
  right: 10%;
  background-color: #303030;
  outline: none;
  border-radius: 5px;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.486);
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.overlayModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.modalLink {
  color: white;
  margin: 5px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $lightRed;
  }
}

@media (max-width: 767px) {
  .nav {
    justify-content: center;
    gap: 20px;
  }

  .modal {
    top: 140px;
  }
}
